<?xml version="1.0" encoding="UTF-8"?>
<hudson.model.ListView>
  <name>Debian dev builds</name>
  <filterExecutors>false</filterExecutors>
  <filterQueue>false</filterQueue>
  <properties class="hudson.model.View$PropertyList"/>
  <jobNames>
    <comparator class="hudson.util.CaseInsensitiveComparator"/>
    <string>D_aegir-debian-auto</string>
    <string>D_aegir-debian-build-2x</string>
    <string>D_aegir-debian-build-3x</string>
    <string>D_aegir-debian-build-3x-old-2015-10</string>
    <string>D_aegir3-debian-test-unstable</string>
    <string>D_aegir3-debian-test-unstable-xenial</string>
  </jobNames>
  <jobFilters/>
  <columns>
    <hudson.views.StatusColumn/>
    <hudson.views.WeatherColumn/>
    <hudson.views.JobColumn/>
    <hudson.views.LastSuccessColumn/>
    <hudson.views.LastFailureColumn/>
    <hudson.views.LastDurationColumn/>
    <hudson.views.BuildButtonColumn/>
  </columns>
  <recurse>false</recurse>
</hudson.model.ListView>